# ==================================================
# Ignore selected folders and file types from the
# repository.
# ==================================================

Source/.vs/*
Source/Builds/*

*.db
*.DB
*.DS_Store
*.ini
*.INI
*.lnk
*.LNK
*.pdb
*.PDB
*.png
*.PNG
*.raw
*.RAW
/_ReSharper.Caches/ReSharperPlatformVs16191_4011600b.00
/.vs
/Source/_ReSharper.Caches/ReSharperPlatformVs16191_4011600b.RSSVE.00
